<div class="container">
  <app-header [color] = "routerOutletComponent?.color$"></app-header>
  <!-- <header ngClass="{{color | async}}">header</header> (newItemEvent)="setName($event)"-->
  <main>
    <div class="middle">
      <router-outlet (activate)='onActivate($event)'></router-outlet>
    </div>

    <div class="right">
      <app-sidebar></app-sidebar>
    </div>
  </main>
  <app-footer [color] = "routerOutletComponent?.color$"></app-footer>
  <!-- <footer ngClass="{{color | async}}">footer</footer> -->
</div>
